<div class="iconsbutton" class="flex" fxLayout="row">

    <button mat-icon-button matTooltip="Remind me"> <img src="../../../assets/note/Remind me.svg"></button>
    <button mat-icon-button matTooltip="Collaborator"> <img src="../../../assets/note/collaborator.svg"></button>
    
    <div matTooltip="Background color" [matMenuTriggerFor]="color">
        <img class="icon" src="../../../assets/note/background option.svg">
        <mat-menu #color="matMenu">
                <div fxLayout="row wrap" style="padding-left: 8px;">
                        <div *ngFor="let color of colorsArr" class="colorBox">
                                <button class="colors" mat-icon-button mat-raised-button
                                        [style.background]="color?.Colorcode"
                                        (click)="changeColor(color?.Colorcode)"></button>
                        </div>
                </div>
        </mat-menu>
</div>

    <button mat-icon-button matTooltip="add image"><img src="../../../assets/note/add image.svg"></button>

    <div (click) ="archieve()">
        <img class="icon" src="../../../assets/note/archive.svg" alt="archieve">
    </div>
    <div>
        <button mat-icon-button matTooltip="more" mat-button [matMenuTriggerFor]="menu" #menuTrigger><img src="../../../assets/note/more.svg"></button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)  ="trash(notedata)">delete note</button>
            
            <button mat-menu-item>Add label</button>
            <button mat-menu-item>add drawing</button>
            <button mat-menu-item>Show checkboxes</button>
           
        </mat-menu>
       
    </div>
    
    