<div class="container" fxLayout="column" fxLayoutAlign="space-between center">
    <div class="note" style="border: 2px solid rgb(199, 192, 192); width:40%;  ">
        <form [formGroup]="createnoteform" (ngSubmit)="OnSubmit()">
            <div *ngIf="isShow" fxLayout="row">
                <input formControlName="title" style="width:99%;" placeholder="Title">
                <div class icon>
                    <img src="../../../assets/note/pin note.svg" alt="pin">
                </div>
            </div>
            <div *ngIf="!isShow || isShow" (click)="noteshow()">
                <input formControlName="description" style="width: 70%;" placeholder="Take A Note">
            </div>

            <div class="flex" *ngIf="isShow" fxLayout="row" fxLayoutAlign="space-between centre">
                <app-icons></app-icons>
               <div fxLayoutAlign="end end"><button mat-button (click)="noteclose()">Close</button></div>
            </div>
        </form>
    </div>

</div>