.container {
    display: flex;
    justify-content: space-around;
    padding: 50px;
}

.note {
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid lightgray;
padding-bottom: 1px;
padding-top: 2px;
}

.title {
    height: 30px;
    font-weight: 100px;
    font-size: 14px;
    font-family: sans-serif;
    background-color: #FAFAFA;
}

.takenote {
    height: 15px;
    font-size: 14px;
    font-family: sans-serif;
    word-wrap: break-word;
    width: 150px;
    background-color: #FAFAFA;
    
}

.close{
    margin-left: 100px;
       border: 0;
       outline: 0;
       
    }

input {
    border: 0;
    outline: 0;
    background-color: #FAFAFA;
}

input:focus {
    outline: none !important;
}


button {
    border: 0;
    outline: 0;
}

button:focus {
    outline: none !important;
}

.border {
    margin: auto;
}

.icons {
    padding-left: 30px;
    opacity:0.6;
    padding-bottom: 30px;
    
}
.icons button {
    border: none;
    background-color: white;
    width:50px;
    height:25px;
    padding-bottom: 10px;
    padding-left: 30px;
}