<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
    <mat-toolbar color="white" class="example-toolbar">
        <button style="border: 0px;" mat-icon-button (click)="snav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>

        <img class="keepImage" src="../../../assets/dashboardicon/keep.png">
        <h1 class="example-app-name"> Fundoo</h1>


        <div class="searchbox">

            <img src="../../../assets/dashboardicon/search.jpg"
                style="width: 20px; height: 30px;padding-right: 25px;padding-bottom: 20px;">
            <input class="inputSearchbox" type="text" placeholder="Search" (keyup)="keyFunction($event)">
        </div>
        <img class="refresh" src="../../../assets/dashboardicon/refresh.svg">
        <div>
            <button class="listview"><img src="../../../assets/dashboardicon/list view.svg"></button>
        </div>
        <div>
            <button class="setting"> <img src="../../../assets/dashboardicon/settings.svg"></button>
        </div>

        <div>
            <button class="apps" (click)="logout()"><img src="../../../assets/dashboardicon/app.svg"></button>
        </div>
        <div><button class="button" (click)="logout()"><img
                    style="padding-top:12px margin-left=50px;block-size:25px;margin-top: 12px;"
                    src="../../../assets/dashboardicon/person.svg"></button>
        </div>
    </mat-toolbar>

    <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
            fixedTopGap="56">
            <mat-nav-list style="height: 300px; padding-right: 50px;">
                <a mat-list-item routerLink="/dashboard/notes"><img class="icon" style="padding-right: 25px;"
                        src="../../../assets/dashboardicon/lightbulb.svg"> Notes</a>
                <a mat-list-item routerLink="."><img class="icon" style="padding-right: 25px;"
                        src="../../../assets/dashboardicon/reminder.svg">Reminders</a>
                <a mat-list-item (click)="openDialog()"><img class="icon" style="padding-right: 25px;"
                        src="../../../assets/dashboardicon/edit.svg">Edit
                    labels</a>
                <a mat-list-item routerLink="/dashboard/archieve"><img class="icon" style="padding-right: 25px;"
                        src="../../../assets/dashboardicon/archive.svg">Archeive</a>
                <a mat-list-item routerLink="/dashboard/trash"><img class="icon" style="padding-right: 25px;"
                        src="../../../assets/dashboardicon/trash.svg">Trash</a>
            </mat-nav-list>
        </mat-sidenav>
        <router-outlet></router-outlet>

    </mat-sidenav-container>
</div>