.borderStyle{
  border: 1px solid grey;
  padding: 50px;
  margin: 50px;
  border-radius: 10px;
}
.designEmail
{
  width: 80%;
  padding-right: 40px;
  padding-left: 30px;
  margin-top: 40px;
  
  
}
.buttonStyleforNext
{
  border: 0px;
  color: white;
  background-color: blue;
  height: 40px;width: 80px;
  margin: bottom 60px; 
  margin-left: 220px;
  margin-top: 50;
  
}
.Spacesforbutton 
{
  display: flex;
  gap: 30px 220px;
  width: 400px;
  color: blue;
  margin-top: 50px;
  font-size: medium;
  
}
@media only screen and (max-width: 992px) {
  .borderStylelogin {
      padding: 30px;
      margin: 30px;
  }
  .borderStylelogin .name .mat-form-field {margin-bottom: 0 !important;}
}
@media only screen and (max-width: 600px) {
  .borderStylelogin {
      border: none;
      padding: 28px;
      margin: 0px;
      border-radius: 0px;
  }
}