.borderStylelogin
{
  border: 1px solid lightgrey;
  width: 500px;  
  margin-left: 80px;
  margin-top: 50px; 
  padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 20px; 
    justify-content: center;
    display: flex;
    flex-flow: column wrap;
    border-radius: 3%;
    box-shadow: 0px 3px 6px #00000029;
}
.designEmail
{
  width: 80%;
  padding-right: 40px;
  padding-left: 30px;
  margin-top: 30px;
}
.Spaces .mat-form-field + .mat-form-field{
  margin-left: 10px;
  width: 100%;
  margin-top: 30px;
}

.next {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.buttonStyleforCreate
{
  padding-left: 40px;
  border: 0px;
  color: #3f51b5;
  font-size: medium;
  background-color: transparent;
}

.buttonStyleForForgot
{
  border: 0px;
  color:#3f51b5 ;
  font-size: smaller;
  background-color: transparent;
  padding-left: 40px;
  font-size: large;
  
}
.next1
{
  justify-content: right;
  margin-right: 100px;
}