

.borderStylelogin {
  border: 1px solid grey;
  padding: 50px;
  margin: 50px;
  border-radius: 10px;
  border-radius: 10px;
}
.next {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.buttonStyleforCreate {
  padding-left: 40px;
  border: 1px;
  color: #3f51b5;
  font-size: medium;
  background-color: transparent;
}

.buttonStyleForForgot {
  border: 1px;
  color: #3f51b5;
  font-size: smaller;
  background-color: transparent;
  padding-left: 40px;
  font-size: large;

}

@media only screen and (max-width: 992px) {
  .borderStylelogin {
      padding: 30px;
      margin: 30px;
  }
  .borderStylelogin .name .mat-form-field {margin-bottom: 0 !important;}
}
@media only screen and (max-width: 600px) {
  .borderStylelogin {
      border: none;
      padding: 28px;
      margin: 0px;
      border-radius: 0px;
  }
}
