<div fxFlex=100 fxLayout="column" fxLayoutAlign="center center">
    <div fxLayout="row" fxLayoutAlign="center center" class="register">
      <div class="fundoo">
        <h1>
            <span style="color: blue;">F</span>
            <span style="color: red;">u</span>
            <span style="color: orange;">n</span>
            <span style="color: blue;">d</span>
            <span style="color: green;">o</span>
            <span style="color: red;">o</span>
        </h1>
        <button mat-button class="buttonStyle" style="font-size: large;color: black;">Create your Fundoo
            Account</button>
        <form [formGroup]="registerForm" (ngSubmit)="OnSubmit()">

          <div class="name" fxLayoutGap="13px" fxLayout.xs="column">
            <mat-form-field appearance="outline" class="firstName">
              <mat-label>First Name</mat-label>
              <input matInput formControlName="firstName" placeholder="firstname">
              <mat-error>Enter valid first name</mat-error>       
            </mat-form-field> 
            <mat-form-field appearance="outline" class="lastName">
              <mat-label>Last Name</mat-label>
              <input matInput formControlName="lastName" placeholder=" lastname ">
              <mat-error>Enter valid last name</mat-error>
            </mat-form-field>
          </div>
  
          <div class="email">
            <mat-form-field appearance="outline" class="userName" fxFlex=100>
              <mat-label>Email</mat-label>
              <input matInput formControlName="email" placeholder=" Email ">
              <mat-hint>You can use letters, numbers & periods</mat-hint>
            </mat-form-field>
          </div>
          <button mat-button class="buttonStyle" style="margin-top: 20px;">Use my current email address
            instead </button>
  
          <div class="Name" fxLayoutGap="13px" fxLayout.xs="column">
            <mat-form-field appearance="outline" class="password">
              <mat-label>Password</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" placeholder=" ">
              <mat-error>Enter valid password</mat-error>
              </mat-form-field>
  
            <mat-form-field appearance="outline" class="password" >
              <mat-label>Confirm</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'" formControlName="confirmPassword" placeholder=" ">
              <mat-error>Password not match</mat-error>
            </mat-form-field>
          </div>
          <mat-hint style="font-size: small;padding-left: 14px;">Use 8 or more characters with a mix of
            letters, numbers & symbols </mat-hint>
          
            <div class="checkbox">
                <input type="checkbox" (click)="showpassword();"id="icon">Show password
            </div>
  
            <div class="next">
                <button mat-button color="primary" routerLink="/login">Sign in Insted</button>
                <div>
                    <button mat-flat-button color="primary">Next</button>
                  </div>
            </div>
        </form>
      </div>
  
      <div class="account" fxHide.xs="true" fxHide.sm="true">
      <img src="../assets/account.svg">
      <mat-hint>One account. All of Fundoo</mat-hint>
      <mat-hint> Working for you</mat-hint>

  </div>
    </div>
  </div>