.borderStyle{
    border: 1px solid grey;
    padding: 50px;
    margin: 50px;
    border-radius: 10px;
  }


  

.buttonStyleforNext {
    border: 0px;
    color: white;
    margin-left: 270px;
    margin-bottom: 5%;
    background-color: blue;
    height: 40px;
    width: 70px;
    padding-bottom: 0%;
    border-radius: 2;

}
@media only screen and (max-width: 992px) {
    .borderStyle {
        padding: 30px;
        margin: 30px;
    }
    .borderStyle.name .mat-form-field {margin-bottom: 0 !important;}
  }
  @media only screen and (max-width: 600px) {
    .borderStyle{
        border: none;
        padding: 28px;
        margin: 0px;
        border-radius: 0px;
    }
  }