<div class="note" >

    <div fxLayout="row" fxLayoutAlign="space-between center">
       <input class="mat-title" placeholder="Title" matInput mat-dialog-title [(ngModel)]="title">
    </div>
 
    <div fxLayout="row" fxLayoutAlign="space-between center">
       <input class="mat-title" placeholder="Description" matInput mat-dialog-title [(ngModel)]="description">
    </div>
    <app-icons style="margin-left: 50px; padding-top:20px"></app-icons>
    <button class="button" style="margin-left:2px;border:0px" (click)="onClick()">Update</button>
 </div>
